.titleCard{
    font-size: 300px;
}
.desc{
    font-size: 36px;
    margin-top: 87px;
    margin-bottom: 27px;
    margin-left: 40px;
}
.button{
    background-color: #E97C00;
    width: 384px;
    height: 121px;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-size: 36px;
    cursor: pointer;
}
.left{
    width: 460px;
    height: 626px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    border: 2px solid black;
}
.wrapper{
    margin-left: 250px;
    margin-top: 50px;
}
.title{
    margin-left: 250px;
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 52px;
}
.cards{
    display: flex;
}
.center{
    margin-left: 85px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.centerTitle{
    font-size: 36px;
}
.date{
    font-size: 24px;
}
.centerTitle2{
    font-size: 28px;
}
.right{
    margin-left: 85px;
    display: flex;
    flex-direction: column;
    gap: 131.5px;
}