.all{
    display: flex;
    justify-content: center;
}
.forma{
    margin-top: 20vh;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 240px;
    border: 2px solid #333;
    border-radius: 10px;
    align-items: center;
    gap: 20px;
    padding-top: 50px;
}
.input{
    width: 250px;
    height: 30px;
    padding-left: 10px;
}
.select{
    width: 200px;
    height: 30px;
}
.button{
    width: 150px;
    height: 40px;
    color: #fff;
    background-color: #E97C00;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}